body {
  background-image: url("bg.jpg");
}
article {
    max-width: 1000px;
    margin: auto;
    background-color: darkslategray;
    color: honeydew;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

p {
  text-align: left;
  margin-left: 20px;
}
ul{
    text-align: left;
    margin-left: 20px;
}

table, th, td, tr {
  border: 1px solid blanchedalmond;
}

a{
    color: #ffffcc;
}


